.button {
  display: inline-flex;
  padding: var(--Button-Padding-M, 12px)
    var(--Margin-Primaries-Buttons-B-XL, 32px);
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.button:disabled {
  cursor: not-allowed;
}

.button:focus {
  outline: none;
}

.button:hover {
  outline: none;
  border: none;
}

.button-primary {
  border-radius: 36px;
  background: var(--yrgo-primary);
}

.button-primary:hover:not(:disabled) {
  border: 1px solid var(--yrgo-primary);
  background-color: var(--bg-white);
  color: var(--yrgo-primary);
}
.button-primary:active:not(:disabled) {
  border: 1px solid var(--yrgo-primary);
  background-color: var(--bg-white);
  color: var(--yrgo-primary);
}

.button-primary:disabled,
.button-filter:disabled {
  background: var(--grey-800);
  color: var(--bg-white);
}

.button-filter {
  display: inline-flex;
  padding: var(--Margin-Primaries-Buttons-B-S, 8px)
    var(--Margin-Primaries-Buttons-B-M, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--Button-Gap-S, 8px);
  background-color: var(--bg-white);
  color: #1f2937;
}

.button-filter:hover:not(:disabled) {
  border: 1px solid var(--yrgo-primary);
  background-color: var(--bg-white);
  color: var(--yrgo-primary);
}

.button-filter:active:not(:disabled) {
  background: var(--yrgo-primary);
  color: var(--bg-white);
  border: 1px solid var(--yrgo-primary);
}

.button-linkNavbar {
  border: none;
  background-color: var(--bg-white);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: var(--grey-800);
  border-radius: 0;
  padding: 0;
  border: none;
  background-color: var(--bg-white);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: var(--grey-800);
  border-radius: 0;
  padding: 0;
}

.active .button-linkNavbar {
  color: var(--bg-black);
  border-bottom: 2px solid var(--yrgo-primary);
}

.upload-actions {
  padding: 0;
  display: flex;
  border: none;
}

.button-select {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
  cursor: pointer;
  font-weight: 500;
  background-color: var(--bg-white);
  color: var(--bg-black);
  font-size: 1rem;
}

.button-select:hover {
  border: 1px solid transparent;
}

label img {
  width: 1.5rem;
  height: 1.5rem;
}
