.app-footer {
  background-color: var(--bg-white);
  color: var(--bg-black);
  display: flex;
  width: 100vw;
  padding: var(--Spacing-Padding-3XL, 64px) var(--Spacing-Padding-4XL, 128px);
  align-items: center;
  gap: var(--Spacing-Padding-3XL, 64px);
}

.footer-container {
  width: calc(100% - 128px - 8rem);
  display: flex;
  justify-content: space-around;
}

.footer-socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
}

.footer-section:nth-child(1) {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 48px;
  flex-wrap: wrap;
}

.footer-item {
  display: flex;
}
